/* --- CSS RESET --- */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/* --- CSS RESET END --- */

body {
    background-color: #ffeedf;

    display: flex; /* placing the children at the center of the parent element */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* places the children on the horizontal line  */

    height: 100vh; /* sets the target elements height to 100 (100%) viewport height */
}

button {
    background-color: #1C5A4E;
    width: 240px;
    height: 240px;
    border-radius: 120px; /* lekerekíti az adott elemet */

    color: #ffeedf;
    font-size: 200px;
    font-family: 'montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    height: 265px;
}